<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div class="card" data-comp-display="card.1" data-comp-id="div.1">
            <div data-comp-id="div.2">
                <div class="row">
                    <div class="col"></div>
                </div>
                <div class="item item-icon-right" data-comp-id="item.1">
                    <div data-comp-id="text.1">
                        Some text
                        <span class="item-note"></span>
                    </div>
                    <i class="icon ion-ios-arrow-right" data-comp-id="icon.1" style="font-size:32px"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>